.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}


@media (max-width: 1280px)
{
  .box-extrato
   {
   margin-top: -9px;
   }
}

@media (max-width: 768px)
{
  .box-extrato
   {
   margin-top: 10px;
   }
}