@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-btn {
        @apply bg-orgreen hover:text-white text-black text-center text-sm py-1 px-2 rounded-full h-8 w-8 flex items-center;
    }
    .box-hello {
        @apply container bg-orgreen rounded-large flex items-center h-180;
    }
    .box-extrato {
        @apply container mx-auto border border-orgreen rounded-large flex items-center justify-between h-180 xl:-mt-3 sm:mt-2;
    }
    .box-valid-users {
       @apply container mx-auto bg-ordarkgray rounded-large flex  items-center justify-between row-span-2;
    }
    .box-valid-users-content {
        @apply container mx-auto bg-orgray rounded-large  items-center grid grid-rows-1 grid-cols-2 row-span-4 mb-6 text-left;
    }
    .card {
       @apply container grid grid-rows-3 h-400;
    }
    .card-title {
        @apply  container mx-auto rounded-t-large flex  items-center  justify-between h-164;
    }

    .card-content {
        @apply container mx-auto bg-orgray rounded-large h-244;
    }
    
    .btnGo {
        @apply bg-orlightgray hover:bg-orgray text-3xl text-ordarkgray text-center  py-1 px-2 rounded-full h-8 w-8 flex items-center;
    }


}